@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

html,
body {
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: cadetblue;
  padding: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translate(150px, 300px);
  scale: 2;
}

h1 {
  font-size: 3rem;
  margin: 0;
  white-space: nowrap;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
  white-space: nowrap;
}

img {
  display: block;
    align-self: flex-start;
  
}



@media (min-width: 960px) {
  .lowpx {
    display: none; /* Hide the small image for larger viewports */
  }
}

@media (max-width: 959px) {
  .highpx {
    display: none; /* Hide the big image for smaller viewports */
  }
 
  .lowpx {
    transform: translate(0px,310px);
    scale: 2; /*image wasnt big ebough*/
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  .header {
    text-align: center;
    margin-top: 20px; 
  }

  .title {
    margin-bottom: 20px; 
    z-index: 3;
    transform: translate(150px,60px);
  }

  h1 {
    font-size: 3rem;
    margin: 0;
    white-space: nowrap;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    white-space: nowrap;
  }

  img{
    display: flex;
    align-self: flex-start;
  }
  

  


}

